/* Colors
dark purple #4A3E40; 
lighter purple #6E5558;
camo green #8B856F;
white background #fff;
*/

/*---------------general------------ */
.width-80 {
    max-width: 80%;
    margin: auto;
}
}

/*---------------portfolio------------ */
/* Could not figure out how to properly 
overlay the portfolio descriptions over their imgs :( */

h3 {
   position: absolute;
   width: 100%;
    bottom: .3em;
    left: 0px;
    z-index: 99;
    border: 2px solid red;
}